<p><%= @current_user.username%>'s Favorite Anime Moments</p>


<% @current_user.favorites.each do |v|%>
    <%= link_to Moment.find(v.moment_id).name, moment_path(v.moment_id)%>
    <%= button_to "remove", "/favorites/#{v.id}" , method: :delete %>
    <br>
<% end %>